:root {
	--dark-c-light: #39285e;
	--dark-c-medium: #210530;
	--dark-c-dark: #191919;
	--dark-gradient: linear-gradient(0deg, var(--dark-c-medium) 0%, var(--dark-c-dark) 100%);
}

body {
	overflow: hidden;
}

.lds-ellipsis {
  position: relative;
  width: 64px;
  height: 64px;
  top: calc(50% - 50px);
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: var(--dark-c-light);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}

#load-wrapper {
	background: #191919;
	background: var(--dark-gradient);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 100vh;
	z-index: 5 !important;
	position: relative;
	display: block;
	height: 100vh;
	width: 100vw;
}

#content {
	display: none;
}